[Interface]
Address = 10.0.0.1/32
ListenPort = 51820
PrivateKey = CHANGE_ME_NODE_A_PRIVATE_KEY

[Peer]
# Node B
PublicKey = CHANGE_ME_NODE_B_PUBLIC_KEY
AllowedIPs = 10.0.0.2/32
Endpoint = [CHANGE_ME_NODE_B_IPV6]:51820
PersistentKeepalive = 25

[Peer]
# VPS
PublicKey = CHANGE_ME_VPS_PUBLIC_KEY
AllowedIPs = 10.0.0.10/32
Endpoint = CHANGE_ME_VPS_HOST:51820
PersistentKeepalive = 25
