[mariadb]
server_id=2
log_bin=mysql-bin-b
binlog_format=ROW
log_slave_updates=ON
gtid_strict_mode=ON
skip_name_resolve=ON
bind_address=0.0.0.0

auto_increment_increment=2
auto_increment_offset=2

binlog_expire_logs_seconds=604800
max_binlog_size=100M
