[Unit]
Description=Daily Vaultwarden backup

[Timer]
OnCalendar=*-*-* 03:15:00
Persistent=true
RandomizedDelaySec=15m
Unit=vaultwarden-backup.service

[Install]
WantedBy=timers.target
