[Unit]
Description=Hourly Vaultwarden replication check

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m
Unit=vaultwarden-replication-check.service

[Install]
WantedBy=timers.target
