[Unit]
Description=Vaultwarden MariaDB replication check
Wants=network-online.target
After=network-online.target docker.service wg-quick@wg0.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/vaultwarden-on-premise
ExecStart=/opt/vaultwarden-on-premise/scripts/check_replication.sh
PrivateTmp=true
NoNewPrivileges=true
