[Unit]
Description=Vaultwarden complete backup
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/vaultwarden-on-premise
ExecStart=/opt/vaultwarden-on-premise/scripts/backup_vaultwarden.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
PrivateTmp=true
NoNewPrivileges=true
